<ion-header>

    <ion-title>ModalPage</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>

</ion-header>


<ion-content padding>
HOLA PUTOS
</ion-content>
