<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Listas</ion-title>
    <ion-label slot="end"  *ngIf="global!='0'" class="penalizacion">{{global}} Días</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card *ngFor="let item of informacion" (click)="abrirLista(item.key)" >
    <ion-card-content class="titulo" >
      <ion-item>
        <ion-label class="titulo">
          {{item.key}} <div class="enlinea">{{item.number}} Libros</div>
        </ion-label>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-item *ngIf="informacion== 0" text-center>
    <ion-label text-center>
      No tienes listas creadas aun.
    </ion-label>
  </ion-item>

</ion-content>
