<ion-content padding>
  <ion-fab vertical="top" horizontal="end"  slot="fixed">
    <ion-fab-button *ngIf="logeado" (click)="reservar($event)" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item-group *ngFor="let ejemplar  of ejemplares">
      <ion-card>
      <ion-item-divider class="titulo">{{ejemplar.estado}}
        <span class="label label-success" *ngIf="ejemplar.estado==='Prestado'">({{prestados}})</span>
        <span class="label label-default" *ngIf="ejemplar.estado==='Disponible'">({{disponibles}})</span>
        <span class="label label-default" *ngIf="ejemplar.estado==='Reservado'">({{reservado}})</span>
      </ion-item-divider>
        <ion-card-content><ion-label class="alineacion" ion-item *ngFor="let item of ejemplar.info">{{item.key}}</ion-label></ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>
</ion-content>
