:host {
  display: block;
}
#clock {
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 5%;
  display: flex;
  font-size: var(--digits-size,30px);
}
.texto {
  width: 70%;
  font-size: large;
}
#clock .num {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  padding: 5px 15px;
  border-radius: 4px;
  color: var(--digits-color, #fff);
  box-shadow: var(--box-shadow, 1px 1px 1px #555);
  background-color: var(--bg-color, #333);
}
#clock .num:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #111;
}
#clock b {
  color: #333;
  margin-right: 10px;
}

