
<div id="clock" cache-view="false" *ngIf="total>0">
      <span >
        <span class="num" id="hoursc" *ngIf="centesimas!=0">{{centesimas}}</span>
        <span class="num" id="hoursd" *ngIf="centesimas==0 && decimas!=0 || centesimas!=0 ">{{decimas}}</span>
        <span class="num" id="hoursu" *ngIf="unidades!=0 && centesimas==0 && decimas==0
                                            || centesimas!=0
                                            || centesimas==0 && decimas!=0">{{unidades}}</span>

      </span>
  <div class="texto"> Dias de penalización.</div>
</div>

