<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
    <ion-label slot="end"  *ngIf="global!='0'" class="penalizacion">{{global}} Días</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="reservas== 0" text-center>
    <ion-label text-center>
      No tienes reservas pendientes.
    </ion-label>
  </ion-item>
  <ion-card *ngFor="let info of reservas" >
    <div class="card">
      <div class="izq center">
        <img src="{{info.img}}" (click)="pagina(info.idlibro.toString())" class="center" alt="">
      </div>
      <div class="der">
        <ion-card-header class="titulo leer"(click)="pagina(info.idlibro.toString())">{{info.titulo}}</ion-card-header>
        <ion-card-header class="header">Author: {{info.autor}}</ion-card-header>
        <ion-card-content class="bloque">
          <ion-label>Estado: {{info.estado}}</ion-label>
          <ion-button  class="buttons" color="secondary" (click)="cancelarReserva(info.idreserva,info.titulo,info.estado,info.idlibro)">Cancelar Reserva</ion-button>
        </ion-card-content>
      </div></div>
  </ion-card>
</ion-content>
