.bloque{
  padding-top: 2%;
  font-size: smaller;
  display: grid;
}
.cabeza{
  font-weight: bold;
}
.grid{
  display: flex;
}
.leer{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.izq, .der {
  overflow:hidden;
  float: left;
  max-width: inherit;
}
ion-card-header{
  padding-top: 2%;
  padding-bottom: 0;
}

.buttons{
  height: 30px;
  padding-bottom: 1%;
  padding-top: 1%;
  width: 100%;
}

.column{
  padding-top: 0%;
  padding-left: 0%;
  padding-bottom: 1%;
}
.der{
  position: relative;
  width: 75%;
  float: right;
}
.izq{
  position: absolute;
  width: 25%;
  height: 100%;
}
.card{
  display: contents;
}
.center{
  display: -webkit-box;
}

