<ion-title *ngIf="reservas!=0">Reservas</ion-title>
<ion-card *ngIf="reservas!=0">
  <ion-card-content>
    <ion-slides pager="true" [options]="slideOpts" >

      <ion-slide *ngFor="let item of reservas">
        <ion-card>
          <ion-card-content>
            <div class="img" (click)="pagina(item.idlibro.toString())">
              <img src="{{item.img}}"  class="center" alt="" (click)="pagina(item.idlibro.toString())">
            </div>
            <ion-label>{{item.estado}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-card>

