<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Historial
    </ion-title>
    <ion-label slot="end"  *ngIf="global!='0'" class="penalizacion">{{global}} Días</ion-label>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item *ngIf="informacion== 0" text-center>
    <ion-label text-center>
      No has sacado libros.
    </ion-label>
  </ion-item>
  <ion-card *ngFor="let info of informacion" >
    <div class="card">
      <div class="izq center">
        <img src="{{info.img}}" (click)="pagina(info.idlibro.toString())" class="center" alt="">
      </div>
      <div class="der">
        <ion-card-header class="titulo"(click)="pagina(info.idlibro.toString())">{{info.titulo}}</ion-card-header>
        <ion-card-header class="header">Author: {{info.author}}</ion-card-header>
        <ion-card-content class="bloque">
          <ion-label class="grid">
            <ion-col class="column">
              <ion-row class="cabeza">PRESTAMO:</ion-row>
              <ion-row class="cabeza">DEVOLUCION:</ion-row>
              <ion-row class="cabeza">EJEMPLAR:</ion-row>
            </ion-col>
            <ion-col class="column">
              <ion-row>{{info.fechaIni|date:'dd/MM/yy HH:mm'}}</ion-row>
              <ion-row>{{info.fechaFin |date: 'dd/MM/yy HH:mm'}}</ion-row>
              <ion-row>{{info.ejemplarid}}</ion-row>
            </ion-col>
          </ion-label><!--
      <ion-label>
        <div class="cabeza">EJEMPLAR:</div>
        {{info.ejemplarid}}
      </ion-label>-->
        </ion-card-content>
      </div>
    </div>
  </ion-card>


</ion-content>
