
.centro{
  //width: 150px;
 // height: 150px;
  //left: -50%;
  // margin-left: -75px;
  position: absolute;
  top: 50%;
  margin-top: -75px;
}
.information{
  margin-left: 5%;
}
.info{
  color:black;
}
.input:focus {
  transform: translateY(-30px);
}

.square {
 // height: 50px;
  //width: 50px;
  top: 50%;
  margin-top: -75px;
  transition: transform 0.9s linear;

  &:hover {
    cursor: pointer;
  }
}

.contain{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



div.search{
  display: flex;
  align-items: center;
}
.item-bold {
  font-weight: bold;
}
.titles{
  display: contents;
  margin: 0,0,0,0;
  font-weight: bold;
}
.same{
  overflow: hidden;
  text-overflow: ellipsis;
}
.author{
  font-size: small;
  margin-top: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sizeImg{
  max-width: 20%;
}
.der{
  position: relative;
  width: 80%;
  float: right;
}
.izq{
  position: absolute;
  width: 20%;
  height: 100%;
}
.card{
  display: contents;
  white-space: nowrap;
}
.center{
  display: -webkit-box;
}
