
<div class="search">
    <ion-select  interface="popover" value="all" [(ngModel)]="gaming" (ngModelChange)="updateList()">
        <ion-select-option value="all">Todo</ion-select-option>
        <ion-select-option value="title">Titulo</ion-select-option>
        <ion-select-option value="author">Autor</ion-select-option>
        <ion-select-option value="category">Categoría</ion-select-option>
    </ion-select>
    <ion-searchbar id="buscador" class="" primary [(ngModel)]="searchQuery"
                   (keyup.enter)="updateList()"
                   show-cancel="true"
                   placeholder="Search..." >
    </ion-searchbar>

</div>

<ion-card  *ngFor="let result of busqueda " (click)="pagina(result.key.toString())" >
    <div class="card">
        <div class="izq center" >
            <img src="{{result.img}}"  alt="">
        </div>
        <div class="der">
            <ion-card-content class="bloque">
                <div  class="info">
                    <div class="same"><h2 class="titles">Titulo: </h2>{{result.title}}</div>
                    <div class="item-note author" slot="start"><div class="titles">Autor:</div> {{result.author }}</div>
                    <div class="item-note author" slot="start"><div class="titles">Categoria:</div> {{result.cate }}</div>
                </div>
            </ion-card-content></div>
    </div>
</ion-card>



<ion-item *ngIf="vacio && searchQuery.length!==0" text-center>
    <ion-label text-center>
        No hay resultados con esas caracteristicas
    </ion-label>
</ion-item>
