<ion-content>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="logeado" (click)="comentar()" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item *ngFor="let item of comentarios" (click)="presentAlert( item['usuario'],item['comentario'])">
    <ion-label>{{ item['usuario'] }}</ion-label>
    <ion-label>{{ item['comentario'] }}</ion-label>
  </ion-item>
  <ion-item *ngIf="comentarios== 0" text-center>
    <ion-label text-center>
      No hay comentarios
    </ion-label>
  </ion-item>

</ion-content>
