<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista {{argumento}}</ion-title>
    <ion-label slot="end"  *ngIf="global!='0'" class="penalizacion">{{global}} Días</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card" *ngFor="let item of informacion">
    <div class="card-line">
      <div class="izq"  (click)="pagina(item.key)">
        <img src="{{item['img']}}" class="center" >
      </div>

      <div class="der">
        <div class="titulo leer">{{item['titulo']}}</div>
        <ion-button  class="buttons" color="secondary"  (click)="elimintar(item['identificador'])">Eliminar Libro</ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>
