.titulo{
  font-weight: bold;
  font-size: larger;
  text-align: justify;
  color: black;
}
.leer{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.izq, .der {overflow:hidden;
  float: left;
  max-width: inherit;
}
.card{
  height: 20%
}
.der{
  width: 75%;
  padding-left: 3%;
  padding-top: 9%;
  padding-bottom: 9%;
  float: right;
  display: grid;
}
.izq{
  position: absolute;
  width: 25%;
  height: 100%;
  .center{
    height: 100%;
  }
}
