<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prestamos
    </ion-title>
    <ion-label slot="end"  *ngIf="global!='0'" class="penalizacion">{{global}} Días</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="prestamos== 0" text-center>
    <ion-label text-center>
      No tienes libros sacados.
    </ion-label>
  </ion-item>
  <ion-card *ngFor="let info of prestamos" >
      <div class="izq center">
        <img src="{{info.img}}"  class="center" alt="" (click)="pagina(info.idlibro.toString())">
      </div>
      <div class="der">
        <ion-card-header class="titulo" (click)="pagina(info.idlibro.toString())">{{info.title}}</ion-card-header>
        <ion-card-header class="header">Author: {{info.author}}</ion-card-header>
        <ion-card-content class="bloque">
          <ion-label class="grid">
            <ion-col class="column">
              <ion-row class="cabeza">PRESTAMO:</ion-row>
              <ion-row class="cabeza">DEVOLUCION:</ion-row>
              <ion-row class="cabeza">EJEMPLAR:</ion-row>
            </ion-col>
            <ion-col class="column">
              <ion-row>{{info.fechaIni|date:'dd/MM/yy'}}</ion-row>
              <ion-row>{{info.fechaFin|date:'dd/MM/yy'}}</ion-row>
              <ion-row>{{info.ejemplarid}}</ion-row>
            </ion-col>
          </ion-label>
          <ion-label *ngIf=" info.reservado ==1">El libro está reservado.</ion-label>
        </ion-card-content>
        <div class="segment">
          <ion-button  class="buttons"  [disabled]="info.dias>4|| info.reservado ==1||global !='0'" color="secondary" (click)="renovar(info.prestamoid, info.renovaciones,info.item)">
              Renovar
          </ion-button>
          <ion-button  class="buttons" color="secondary" (click)="comentar(info.idlibro)">Comentar
          </ion-button>
        </div>
      </div>




  </ion-card>



