ion-card-content{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.card-dentro{
  margin-bottom: 30%;
}

.img{
  height: 110px;
  .center{
    height: 100%;
  }
}
ion-card{
  ion-card-title{
    margin-top: 2%;
    margin-left: 3%;
  }
  background-color: #EFF3F6 !important;
  color: black;
  ion-item-divider{
    background-color: #FFB43A !important;
  }
  ion-card-header{
    color: black;
  }
  ion-card-content{
    color: black;
    button{
      margin-top: 5%;
      margin-bottom: 7%;
    }
    ion-item{
      --ion-background-color: #EFF3F6 !important;
    }
  }
}
