.bloque{
  padding-top: 2%;
  padding-bottom: 0;
  font-size: smaller;
  display: grid;
}
.cabeza{
  font-weight: bold;
}
.column{
  padding-top: 0%;
  padding-left: 0%;
  padding-bottom: 1%;
}
.izq, .der {overflow:hidden;
  float: left;
  max-width: inherit;
}
.grid{
  display: flex;
}
ion-card-header{
  padding-top: 2%;
  padding-bottom: 0;
}
.izq, .der {overflow:hidden;
  float: left;
  max-width: inherit;
}
.der{
  position: relative;
  width: 70%;
  float: right;
}
.izq{
  position: absolute;
  width: 30%;
  height: 100%;
}
.buttons{
  height: 30px;
  padding-bottom: 1%;
  padding-top: 1%;
  width: 45%;
}
.segment{
  //float: right;
  padding-left: 16px;
  display:block;
}
.imagen{
  display: grid;
}
.card{
  display: contents;
}
.center{
  display: -webkit-box;
}
