

<ion-title *ngIf="prestamos!= 0">Prestamos</ion-title>
<ion-card  *ngIf="prestamos!= 0">
  <ion-card-content>
    <ion-slides pager="true" [options]="slideOpts" >

      <ion-slide *ngFor="let item of prestamos">
        <ion-card class="card-dentro">
          <ion-card-content >
            <div class="img" (click)="pagina(item.idlibro.toString())">
              <img src="{{item.img}}"  class="center" alt="" (click)="pagina(item.idlibro.toString())">
            </div>
            <ion-label  (click)="renovar(item.prestamoid, item.renovaciones,item.item)">
            <button ion-button [disabled]="item.dias>8|| item.reservado ==1" (click)="renovar(item.prestamoid, item.renovaciones,item.item)">
              Renovar
            </button></ion-label>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-card>
