<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Identificarse</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="centrado">
    <ion-avatar class="tmn">
       <img src="../../assets/icon/depositphotos_184435570-stock-illustration-book-icon-vector-male-student.jpg">
    </ion-avatar>
    <ion-list>
        <ion-item>
            <ion-input [(ngModel)]="user.email" required type="email"  placeholder="Introducir correo electronico"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="user.password" required type="password"  placeholder="Introducir contraseña" (keyup.enter)="login()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-toggle class="toogle" checked="true" [(ngModel)]="checkBox"></ion-toggle>
           <ion-label>Mantener sesion iniciada.</ion-label>
        </ion-item>
    </ion-list>

        <ion-button  color="secondary" (click)="login()" shape="round" expand="full"><ion-icon name="log-in" ></ion-icon> Iniciar Sesion</ion-button>
        <!--<ion-button  color="secondary" (click)="addTransaction()" shape="round" expand="full"><ion-icon name="log-in" ></ion-icon> Iniciar </ion-button>-->
    </div>
</ion-content>
