.tmn{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
.centrado{
  margin-bottom: 30%;
  margin-top: 15%;
}
.toogle{
  padding-left: 0%;
}

.buttons{
  margin-top: 2%;
  width: 100%;
}
