.titulo{
  font-weight: bold;
  font-size: larger;
  text-align: justify;
  justify-content: center;
  color: black;
}
.subtitle{
  font-size: medium;
}

.card-line{
  display: inline-flex;
}

.imagen{
  width: 30%;
}
.general{
  width: 70%;
  align-items: center;
  display:  grid;
  padding: 0;
  padding-left: 2%;
  padding-right: 2%;
}
