<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons><!--
        <ion-button icon-only slot="end" color="tint"><ion-icon name="star" color="dark"></ion-icon>
        </ion-button>-->
    <ion-label slot="end"  *ngIf="!global=='0'" class="penalizacion">{{global}} Días</ion-label>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="presentActionSheet()" *ngIf="logeado" >
                <ion-icon slot="icon-only" name="star"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card-line">

        <div class="imagen card-img">
            <img src="{{img}}" >
        </div>

        <ion-card-content class="general">

            <ion-label class="titulo">{{title | uppercase}}</ion-label>

        </ion-card-content>
    </ion-card>

<ion-content>
    <ion-tabs>
        <ion-tab-bar  slot="top" >
            <ion-tab-button tab="description" >
                <ion-icon name="list"></ion-icon>
                <ion-label>Sinopsis</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="informacion" >
                <ion-icon name="information-circle-outline"></ion-icon>
                <ion-label>Información</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="ejemplares">
                <ion-icon name="book"></ion-icon>
                <ion-label>Ejemplares</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="comentarios" >
                <ion-icon name="text"></ion-icon>
                <ion-label>Comentarios</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs></ion-content>
</ion-content>
