<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Solicitar Libro
    </ion-title>
    <ion-label slot="end"  *ngIf="global!='0'" class="penalizacion">{{global}} Días</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="todo" (ngSubmit)="enviar()">
  <div class="centrado">
    <div class="izquierda">
      <ion-item>
        <ion-input type="text" formControlName="title" [(ngModel)]="titulo" placeholder="Titulo..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="author" [(ngModel)]="author" placeholder="Autor..."></ion-input>
      </ion-item>
    </div>
    <div class="derecha">
      <ion-button class="imagen" [hidden]="imagen"  expand="full" color="light" (click)="galery()"><ion-icon name="albums"></ion-icon></ion-button>
      <ion-button [hidden]="!imagen" class="imagen" expand="full" color="light"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
    </div>
  </div>
    <ion-item>
      <ion-input formControlName="isbn" [(ngModel)]="isbn" type="number" placeholder="ISBN..."></ion-input>
      <ion-buttons><ion-button  icon-only (click)="codigobarras()"><ion-icon slot="icon-only" name="add-circle-outline"></ion-icon></ion-button></ion-buttons>
    </ion-item>
  <ion-item>
    <ion-input formControlName="categoria" [(ngModel)]="categoria" placeholder="Categoria..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="editorial" [(ngModel)]="editorial" placeholder="Editorial..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="edicion" [(ngModel)]="edicion" placeholder="Edicion..."></ion-input>
  </ion-item>
  <ion-item>
  <ion-label>Numero de ejemplares ideales:</ion-label>
  <ion-select formControlName="ejemplares" value="1" interface="popover" [(ngModel)]="ejemplares">
    <ion-select-option value="1">1</ion-select-option>
    <ion-select-option value="2">2</ion-select-option>
    <ion-select-option value="3">3</ion-select-option>
    <ion-select-option value="4">4</ion-select-option>
    <ion-select-option value="5">5</ion-select-option>
    <ion-select-option value="6">6</ion-select-option>
    <ion-select-option value="7">7</ion-select-option>
    <ion-select-option value="8">8</ion-select-option>
    <ion-select-option value="9">9</ion-select-option>
    <ion-select-option value="10">10</ion-select-option>
  </ion-select>
</ion-item>
    <ion-button  expand="full" type="submit" class="buttons" color="secondary"  [disabled]="!todo.valid">Enviar Desiderata</ion-button>
  </form>
</ion-content>
