<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header >
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPage">
            <ion-item disabled="{{p.disable}}" [routerDirection]="'root'" [routerLink]="[p.url]" *ngIf="p.title!='Cerrar Sesion'">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" *ngIf="p.title=='Cerrar Sesion'" (click)="logout()">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
