<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="titulo col-">Author:</ion-col>
      <ion-col>{{author}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="titulo col-">Categoria:</ion-col>
      <ion-col>{{categori}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="titulo col-">Edicion:</ion-col>
      <ion-col>{{edicion}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="titulo col-">Editorial:</ion-col>
      <ion-col>{{editorial}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="titulo col-">ISBN:</ion-col>
      <ion-col>{{id}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
