ion-card-content{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.img{
  height: 110px;
  .center{
    height: 100%;
  }
}
ion-card{
  ion-card-title{
    margin-left: 3%;
    margin-top: 2%;
  }
  background-color: #EFF3F6 !important;
  color: black;
  ion-item-divider{
    background-color: #FFB43A !important;
  }
  ion-card-header{
    color: black;
  }
  ion-card-content{
    color: black;
    ion-item{
      --ion-background-color: #EFF3F6 !important;
    }
  }
}

