<ion-title *ngIf="novedades!=0">Novedades</ion-title>
<ion-card *ngIf="novedades!=0">
  <ion-card-content>
    <ion-slides pager="true" [options]="slideOpts" >

      <ion-slide *ngFor="let item of novedades">
        <ion-card>
          <ion-card-content>
            <div class="img" (click)="pagina(item.key.toString())">
              <img src="{{item.img}}"  class="center" alt="" (click)="pagina(item.key.toString())">
            </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-card>
