<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="renovar">
      <ion-icon name="book"></ion-icon>
      <ion-label>Prestamos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial">
      <ion-icon name="time"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservas">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
