
<ion-title *ngIf="informacion!=0">Listas</ion-title>
  <ion-list *ngFor="let item of informacion; let i = index">
    <ion-item>
      <ion-label class="titulo">
        {{item.lista}} <div class="enlinea">{{item.number}} Libros</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button icon-only slot="end" (click)="toggleSection(i)" [ngClass]="{'section-active':item.open,'section':!item.open}">
          <ion-icon slot="icon-only"  name="arrow-dropdown" *ngIf="!item.open"></ion-icon>
          <ion-icon slot="icon-only"  name="arrow-dropup" *ngIf="item.open"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-slides pager="true" [options]="slideOpts" *ngIf="item.open">

        <ion-slide *ngFor="let valor of item.libros">
          <ion-card>
            <ion-card-content class="border">
              <div class="img" (click)="pagina(valor.key.toString())">
                <img src="{{valor.img}}"  class="center" alt="" (click)="pagina(valor.key.toString())">
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
    </ion-slides>
  </ion-list>
