.enlinea{
  display: inline;
  font-weight: normal;
  font-size: smaller;
}
.img{
  height: 110px;
  .center{
    height: 100%;
  }
}
.border{
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
