<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Portada
    </ion-title>
    <ion-label slot="end"  *ngIf="global.penalizacion!='0'" class="penalizacion">{{global.penalizacion}} Días</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-penalizacion></app-penalizacion>
  <app-search></app-search>
  <app-novedades *ngIf="global.busqueda"></app-novedades>
  <app-renuevo *ngIf="global.busqueda"></app-renuevo>
  <app-reservado *ngIf="global.busqueda"></app-reservado>
  <app-view-list *ngIf="global.busqueda"></app-view-list>
</ion-content>
