// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.justificate{
  text-align: justify;
}
.penalizacion{
  line-height: 1.2;
  font-weight: bold;
  font-size: larger;
  text-align: justify;
  color: red;
}
.titulo{
  line-height: 1.2;
  font-weight: bold;
  font-size: larger;
  text-align: justify;
  color: black;
}
