<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ajustes
    </ion-title>
    <ion-label slot="end"  *ngIf="global!='0'" class="penalizacion">{{global}} Días</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding class="contains">
  <div>
    <label>Contraseña Actual </label>
  <input type="text" class="text">
  </div>
  <div>
    <label>Nueva Contraseña </label>
    <input type="text" class="text">
  </div>
  <div>
    <label>Confirmar Contraseña </label>
    <input type="text" class="text">
  </div>
  <div>
    <ion-button>Aceptar</ion-button>
  </div>
</ion-content>
